@font-face {
    font-family:"kalam" ;
    src: url(../src/Kalam/Kalam-Light.ttf);
}

body {
    margin: 0;
    font-size: 16px;
    height: 100vh;
    width: 100vw;
}

#content {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-image: url(../src/jabber-visuals-PlUQQyIMO8U-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.header {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center;
    padding-bottom: 0;
    background-color: black;
    color: white;
    font-size: 2.5rem;
}

.title {
    padding: 0.5rem;
    font-weight: bold;
    font-family: "kalam";
    justify-self: start;
}

.options {
    align-self: flex-end;
    justify-self: center;
}

.options button {
    padding: 14px 28px;
    border-bottom: 0;
    font-weight: bold;
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
    margin: 0 10px;
    cursor: pointer;
}

.options button:disabled {
    background-color: grey;
    color: white;
    transform: scale(1.2);
    transform-origin: bottom;
}

.icon {
    padding: 1rem;
    height: 36px;
    justify-self: end;
}

.main {
    flex: 1;
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: stretch;
    justify-items: center;
    color: black;
    padding: 40px;
}

.info {
    background-color: rgba(255, 255, 255, 0.7);
    color: black;
    width: 50%;
    border-radius: 12px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.main-title {
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
    font-family: "kalam";
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.song-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    list-style-type: none;
    padding: 20px;
}

.song-list li {
    border-left: 6px solid black;
    margin: 0;
    padding-left: 2px;
    box-shadow: 0px 5px 8px 0px rgba(0,0,0,0.75);
}

.song-list h4 {
    margin-bottom: 0;
}

.song-list h5 {
    margin-top: 0;
}

.text-intro p, .hours, .location {
    border-left: 6px solid black;
    margin: 0;
    padding-left: 2px;
    font-size: 1.25rem;
    
}

.italic {
    font-style: italic;
}

.hours h3, .location h3 {
    margin-top: 0;
    font-size: 1.5rem;
}

.footer {
    padding: 0.75rem 1.5rem;
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
}

.developed {
    font-size: 1.25rem;
}

.credits a {
    text-decoration: none;
    color: white;
}